.benefits {
  padding-top: 350px;
  background-color: #251d1a;
  position: relative;
  z-index: 1;
  padding-bottom: 125px;
}
.benefits__container {
}
.benefits__list {
}
.benefits__item {
}
.benefits__icon {
  width: 80px;
}
.benefits__name {
}
.benefits__text {
}
