body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: $whiteColor;

 background-color: #3b322d;
}
[class*="__container"] {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}
h2 {
  font-weight: 700;
}
.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #efe7e2;

  font-weight: 700;

  transition: color 250ms ease;

  &:hover,
  &:focus {
    color: $hoverColor;
  }

  @media screen and (max-width: 479.98px) {
    font-size: 14px;
  }
}
.logo__image {
  margin-right: 17px;
  width: 45px;
  @media screen and (max-width: 1099.98px) {
    margin-right: 10px;
  }
  @media screen and (max-width: 479.98px) {
    width: 30px;
    margin-right: 7px;
  }
}

.button {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1em;

  padding: 10px 25px;

  border: 1px solid #efe7e2;
}
.button__light {
  transition: color 250ms ease;
  &:hover,
  &:focus {
    color: $hoverColor;
  }
}
.button__orange {
  background-color: #ff6e40;
  border: none;

  transition: background-color 250ms ease;

  &:hover,
  &:focus {
    background-color: #fb7c55;
  }
}
