.consultation {
  margin-top: -145px;
  margin-bottom: 120px;

  @media screen and (max-width: 767.98px) {
    margin-bottom: 80px;
  }
  @media screen and (max-width: 479.98px) {
    margin-bottom: 30px;
  }
}
.consultation__container {
  background-color: #ff6e40;
  padding-top: 70px;
  padding-bottom: 70px;
  @media screen and (max-width: 479.98px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.consultation__title {
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 36px;
  line-height: 1.33;

  text-align: center;

  color: #000000;

  margin-bottom: 12px;
  @media screen and (max-width: 479.98px) {
    font-size: 32px;
  }
}
.consultation__text {
  font-size: 21px;
  line-height: 1.43;

  text-align: center;

  color: #3b322d;

  margin-bottom: 35px;
}
.consultation__form {
}
.form {
}
.form__top {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 24px;

  @media screen and (max-width: 870.98px) {
    flex-direction: column;
  }
}
.form__input {
  width: 323px;
  font-size: 17px;
  line-height: 1.35;

  background-color: inherit;
  border: 1px solid #000000;

  padding: 22px;

  &::placeholder {
    color: #ffffff;
  }
  @media screen and (max-width: 870.98px) {
    width: 100%;
  }
}
.form__button {
}
.form__checkbox {
  text-align: center;
}
.checkbox {
}
.checkbox__lable {
}
.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox__icon {
  width: 12px;
  height: 12px;
  fill: #ff6e40;
  border: 1px solid #000000;
  margin-right: 7px;

  transition: fill 250ms ease, background-color 250ms ease;
  .checkbox__input:checked + & {
    fill: #ffffff;
    background-color: #000000;
  }
}
.checkbox__link {
  text-decoration: underline;

  transition: color 250ms ease;
  &:hover,
  &:focus {
    color: $hoverColor;
  }
}
