.footer {
}
.footer__top {
  padding-top: 60px;
  padding-bottom: 60px;

  background-image: url(../././images/footer/map-bg.jpg);
}
.footer__container {
}
.footer__content {
  background-color: #251d1a;
}
.footer__title {
}
.footer__address {
}
.address {
  font-style: normal;
}
.address__item {
}
.address__icon {
  width: 54px;
  width: 54px;
}
.address__link {
}
.footer__bottom {
}
.footer__copy {
}
