.footer {
}
.footer__top {
  padding-top: 60px;
  padding-bottom: 60px;

  background-image: url(../././images/footer/map-bg.jpg);
}
.footer__container {
}
.footer__content {
  max-width: 530px;
  border-radius: 5px;
  background-color: #251d1a;

  padding-top: 60px;
  padding-left: 60px;
  padding-bottom: 80px;

  @media screen and (max-width: 479.98px) {
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
  }
}
.footer__title {
  font-size: 48px;
  line-height: 125%;
  margin-bottom: 34px;

  @media screen and (max-width: 479.98px) {
    margin-bottom: 20px;
  }
}
.footer__address {
}
.address {
  font-style: normal;
}
.address__item {
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}
.address__icon {
  width: 54px;
  width: 54px;
  background-color: #ff6e40;
  border-radius: 50%;
  padding: 16px;
  margin-right: 30px;

  @media screen and (max-width: 479.98px) {
    margin-right: 15px;
  }
}
.address__link {
  display: flex;
  align-items: center;
  font-size: 21px;
  line-height: 1.43;
  @media screen and (max-width: 479.98px) {
    font-size: 16px;
  }
}
.footer__bottom {
  padding-top: 57px;
  padding-bottom: 56px;
  @media screen and (max-width: 479.98px) {
  padding-top: 20px;
  padding-bottom: 20px;
  }
}
.footer__copy {
  font-size: 12px;
  line-height: 1.33; /* 16/12 */
  text-align: center;

  
}
